<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="error-container">
        <h1>Erro 403 - Acesso Proibido(Forbidden)</h1>
        <p>Você não tem permissão para visualizar este conteúdo</p>
        <a href="{{ url_for('produto_bp.listar_produtos') }}">Voltar para a página inicial</a>
    </div>
</body>

</html>