<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manipular</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Página de manipulações</h1>

    <h3>Adicionar Produto</h3>
    <form action="/adicionar" method="POST">
        Nome:<input type="text" name="nome" required placeholder="Nome do produto">
        Preço: <input type="text" name="preco" required placeholder="Preço do produto">
        <button type="submit">Adicionar</button>
    </form>

    <h3>Remover Produto</h3>
    <form action="/excluir" method="POST">
        Id:<input type="number" name="id" required placeholder="id do produto">
        <button type="submit">excluir</button>
    </form>

    <h3>Alterar Produto</h3>
    <form action="/alterar" method="POST">
        Id:<input type="text" name="id" required placeholder="id do produto">
        Novo nome: <input type="text" name="newName">
        Novo preço: <input type="number" name="newPrice">
        <button type="submit">Alterar</button>
    </form>

    <div class="container">
        {% for produto in produtos %}
        <div class="produtos">
                {{ produto.id }} - {{ produto.nome }} 
    
            <span class="produto-preco">R$ {{ "%.2f"|format(produto.preco) }}</span>
        </div>
        {% endfor %}
    </div>
</body>
</html>